# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs
/.idea
/.vscode
*.log
*.bak
*.swp
*.swo
*.tmp
*.env

# Composer
composer.lock

# NPM
package-lock.json

# Mac
.DS_Store

# Windows
Thumbs.db
